.seven_container {
  display: flex;
  justify-content: center;
  width: 1400px;
  height: 250px;
  background: #fcfdff;
  margin-left: 60px;
  padding-top: 120px;
}
.seven_clock {
  text-align: center;
  /* padding-left: 180px; */
}
.title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #3d4f9f;
}
.seven_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;

  color: #8d96bd;
}
.seven_photo {
  text-align: center;
  align-items: center;
  padding-left: 80px;
}
